.cell {
  display: inline-block;
  width: 200px;
  height: 200px;
  /* overflow가 적용될려면 position을 바꿔줘야하는 경우 */
  overflow: hidden;
  position: relative;
  /* 겹칠것이므로 클릭이 안되게 만들어야 함 */
  user-select: none;
}

.gopher,
.bomb {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: 0;
  transition: bottom 1s;
}

.gopher {
  background: url("./assets/gopher.png") center no-repeat;
  background-size: 200px 200px;
}
.dead {
  background: url("./assets/dead_gopher.png") center no-repeat;
  background-size: 200px 200px;
}
.bomb {
  background: url("./assets/bomb.png") center no-repeat;
  background-size: 200px 200px;
}
.boom {
  background: url("./assets/explode.png") center no-repeat;
  background-size: 200px 200px;
}

/* 해당 이미지를 누르고 있는 것이다 */
.hidden {
  bottom: -200px;
}

.hole {
  width: 200px;
  height: 150px;
  position: absolute;
  bottom: 0;
  background: url("./assets/mole-hole.png") center center no-repeat;
  background-size: 200px 200px;
}

.hole-front {
  width: 200px;
  height: 30px;
  position: absolute;
  bottom: 0;
  background: url("./assets/mole-hole-front.png") center center no-repeat;
  background-size: 200px 30px;
}
